@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: rgb(245, 245, 245);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto';
}

#box {
    background-color: rgb(173, 173, 173);
    border: 2px solid #AD2184;
}