@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Open Sans';
    background-color: rgb(245, 245, 245);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto';
}

.verMais {
    font-size: larger;
    margin-left: 38vw;
}

.card-group {
    box-shadow: 0px 0px 5px rgb(75, 75, 75);
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0px 0px 10px #E547F5;
}