ol, ul {
	list-style: none;
}
/* Grid do Footer*/
.grid-footer {
    background-color: #0d0d0d ;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas:
    "social-footer copy-footer copy-footer"
    ;
    padding: 1vh;
}

.grid-footer, a{
    color: white;
    text-decoration: none;
}

/*Tamanho das imagens do Footer*/
.imagem-social-footer {
    width: 25px;
    height: 25px;
}
/* lista social footer */
.social-footer ul{
    display: flex;
    justify-content: space-between;
}
.social-footer ul li {
    text-transform: uppercase;
}
/* .social-footer ul li span{
    position: relative;
    bottom: 10px;
    padding-left: 2px;
} */

/* Definição das classes e suas grid-area (FOOTER)*/
.social-footer {
    grid-area: social-footer;
}

.copy-footer {
    grid-area: copy-footer;
}

/*Estilização da seção copy-footer*/
.copy-footer div {
    text-align: center;
    position: absolute;
    bottom: 40%;
    left: 35%;
}
